.personelList {
  margin: 50px auto;
  width: 80%;
  .header {
    h1 {
      text-transform: uppercase;
    }
  }
  table {
    table-layout: fixed;
    th {
      background-color: black;
      color: white;
      height: 50px;
      width: 250px;
      text-align: center;
    }
    tbody {
      cursor: default;
      text-align: center;
      tr {
        cursor: default;
        height: 50px;
        &:hover {
          background-color: #21252918;
          color: black;
          font-weight: bold;
          height: 50px;
        }
      }
    }
  }
}
